*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100vw;
    height: 100vh;
    background-color:rgb(236, 196, 142);
    padding: 20px;
}
section div {
    border: 1px solid #000;
    padding: 20px 10px;
    width: 85%;
    margin-bottom: 15px;
    background-color: #fff;
}
section div p span{
    background-color:rgb(236, 196, 142);
}
.red{
    color: red;
}